﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Tracker.aspx.cs" Inherits="GoalManagement.Tracker" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style=" text-align:center;">
    
     <h1>Loading....</h1>
    <br/>
    <br/>
    <h1>Please wait</h1>
    
    </div>
    </form>
</body>
</html>
