﻿<%@ Page Title="Gray Matters Group Aftercare - Resources" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="Resources.aspx.cs" Inherits="GoalManagementV2.Members.Resources" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server"><asp:Literal ID="AllContent" runat="server"></asp:Literal>
</asp:Content>
