﻿<%@ Master Language="C#" AutoEventWireup="true"  CodeBehind="WideSite.Master.cs" Inherits="GoalManagement.WideSiteMaster" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=7; IE=5" />
    <title>Gray Matters Group Aftercare</title>
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/template.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/Navigation.js"></script>

    <script type="text/javascript">

        window.onload = function ()
        {
            if (document.getElementById('runningDiv') != null)
            {
                var thisDiv = document.getElementById('runningDiv');
                thisDiv.style.visibility = "hidden";
            }           
        }

        function Waiting(waitingText)
        {
            if (document.getElementById('runningDiv') != null)
            {
                var thisDiv = document.getElementById('runningDiv');
                thisDiv.style.visibility = "visible";

                if (waitingText == null)
                {
                    thisDiv.innerHTML = "Loading....";
                }
                else
                {
                    thisDiv.innerHTML = waitingText;
                }
            }
            return true;
        }
        
    </script>
  

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body id="body" oncontextmenu="return false;" runat="server">
    <form id="form1" runat="server">
    <table>
    <tr>
    <td style=" width:auto;">
    </td>
        <td style=" width:1200px;">
       
   <%-- <asp:ScriptManager ID="ScriptManager1" EnablePartialRendering="true" runat="server"></asp:ScriptManager>--%>
   <%-- <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">  </asp:ToolkitScriptManager>--%>
<telerik:RadScriptManager ID="RadScriptManager1" runat="server" />


            <div id="runningDiv" style="position: absolute; left: 460px; top: 300px; border: 1px solid #083e60;
                padding: 45px; visibility: hidden; color: #083e60;
                font-size: 15pt; background-image:url('/Images/round-middle3.jpg')" >
                Loading....              
               
            </div>

    <div class="page">
        <div class="header">
            <div class="title">
                <div style="background: #ffffff; text-align: left;"> <%--padding-left: 100px; height: 110px;">--%>
                    <a href="http://www.graymattersgroup.com/" style="color: white; text-decoration: none;">
                        <img src="/Images/sitelogo.jpg" alt="GrayMattersGroup Header"/></a>
                   
                   </div>
            </div>

            <div class="clear hideSkiplink">             
                           
                <div class="loginDisplay">                 
                    <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                        <AnonymousTemplate>
<a href="https://www.graymattersgroup.info/Account/Login.aspx" id="HeadLoginStatus" runat="server">Log In</a>
<%--<a  href="/Account/Login.aspx" id="HeadLoginStatus"
                                runat="server">Log In</a>--%>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            User: <span class="bold">
                                <asp:LoginName ID="HeadLoginName" runat="server" />
                            </span>&nbsp;
                            <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out"
                                LogoutPageUrl="/" />
                        </LoggedInTemplate>
                    </asp:LoginView>
                    &nbsp;
                </div>              
            </div>
        </div>

        <table style="width:1200px;">        
        <tr style="background: #083e60;">
        <td colspan="3" style="color:White; text-align:left; padding: 10px 25px 10px 20px;">       
       <a href="http://www.graymattersgroup.com/" style="color:white; text-decoration:none;">HOME</a>

            </div>
        
        </td>
        </tr>       
        <tr>       
        <td style=" text-align:left;  ">
            <div class="gears2">
                <table width="100%">
                 <tr>
                <td>   <asp:Panel ID="ImpersonateUser" CssClass="Impersonation" BackColor="White" runat="server" Visible="false">
                    <asp:Button ID="StopImpersonating" runat="server" 
                        Text="Stop Impersonating User" BackColor="Fuchsia" BorderStyle="Dotted" 
                        Font-Bold="True" ForeColor="White" Width="200px" 
                        onclick="StopImpersonating_Click" />
                    <asp:Label ID="UserName" runat="server" Text="SomeUser"></asp:Label>
                    </asp:Panel>  
                </td>
                </tr>
                    <tr>
                        <td style="padding-bottom: 10px; padding-top: 5px; text-align: center;">
                            <telerik:RadBinaryImage ID="RadBinaryImage1" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>
                                Welcome to... The &quot;Rx In Action&quot; Aftercare Program</h1>
                        </td>
                    </tr>
                </table>
               
                <table id="TableOutline" style="margin-left: 0px; padding: 20px; width: 100%; border-top: 2px solid #083e60;" runat="server">
                    <tr>
                        <td style="border-right: 2px solid #083e60; width: 190px;">
                            <br />                           
                            <asp:TreeView ID="TreeView1" runat="server" >
                                <HoverNodeStyle ForeColor="#CCCCCC" />                              
                                <NodeStyle Font-Names="Verdana" Font-Size="10pt" ForeColor="Black"  
                                    HorizontalPadding="5px" NodeSpacing="5px" VerticalPadding="0px"  />
                                <ParentNodeStyle Font-Bold="False" />
                                <SelectedNodeStyle Font-Bold="True" Font-Size="11pt" 
                                    ForeColor="Black"  HorizontalPadding="0px" VerticalPadding="0px" />
                            </asp:TreeView>
                            <br />
                        </td>
                        <td style="padding: 20px;">
                            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
                            </td>
                            </tr>
                            </table>
            </div>
            </td>
           
        </tr>
           

            <tr>
            <td valign="top" colspan="3" style="background: #083e60;">
                <div class="bottom-banner">
                    <div class="bottom-banner-message">
                        Created and Offered Exclusively for Professional Services Organizations.
                        For assistance send email to <a style="color:White;" href='mailto:RxAssist@graymattersgroup.com'>
                            RxAssist@graymattersgroup.com</a></div>
                    <div class="logo2">
                        <a href="http://www.graymattersgroup.com" title="Gray Matters Group">
                        <img src="/Images/graymattersgroup.jpg" title="Gray Matters Group" alt="Gray Matters Group" /></a></div>
                </div>
            </td>
          </tr>
          <tr>
          <td colspan="3" style="padding:10px; text-align: center; background: #083e60; color:#cccccc; font-size:9pt;" >
          Copyright © 2011 Gray Matters Group Inc. All rights reserved.
          </td>
          </tr>
        </table>
       
    
      
        <div class="clear" style="height:10px;">
        </div>
  <%--   </div>
       </td>
        <td style=" width:auto;">
        </td>
    </tr>
    </table>--%>
    </form>
</body>
</html>
