﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
  
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
  
}

.helpContent {background:#FFFFFF;  padding: 10px;}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}



/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
 
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

.orangetitle { font-size: 1.6em;    color: #666666;    font-weight: 200;}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    color: #666666;
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

.likeh3
{
    font-size: 1.2em;
    color: #666666;
    text-transform: none;
    font-weight: 200;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    
    background-color: #ffffff;  
  
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #2a3d70; 
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #2a3d70;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{   
  /*  min-height: 400px;*/

}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

.menuBar {padding-left:50px; padding-bottom:5px; height:21px; Background: url("/Images/MenuFill.png") repeat;}

div.hideSkiplink
{
    background-color: White;
    width:100%;
}

div.menu
{
    margin-left:0px;
    height:30;
    padding: 4px 0px 4px 80px;
   
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}
/* div.menu ul li a, */
div.menu ul li a
{
    Background: url("/Images/tab-fill30.gif") repeat;
  /*  background-color: #465c71; */
   /* border: 2px #4e667d solid;*/
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
   white-space: nowrap; 
    margin-left:1px;    
}

div.menu ul li a:hover
{
  Background: url("/Images/tab-fill30.gif") repeat;
  /*  background-color: #bfcbd6;*/
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a.selected
{
    Background: url("/Images/tabfill30s.gif") repeat;
   /* background-color: White;*/
    color: #cfdbe6;
    text-decoration: none;
}

div.menu ul li a:active 
{
   Background: url("/Images/tabfill30s.gif") repeat;
   /* background-color: #465c71;*/
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    color:#888;
}

input.textEntry 
{
   width: 200px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 200px;
    border: 1px solid #ccc;
}

div.loginLink a { text-decoration:none;}
div.loginLink a.visited{ text-decoration:none;}
div.loginLink a:active{ text-decoration:none;}
div.loginLink a:hover { text-decoration:none;}



div.accountInfo
{
    width: 600px; 
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 100%;
}

.loginDisplay
 {
       position: absolute;
       top: 74px;     
       left: 540px;       
    font-size: 1.1em;  
    z-index:540;   
    padding: 10px;
   /*color: #2a3d70;*/
   color:White;
}


div.BetaFeedback
{
    position: absolute;
    top: 97px;     
    left: 600px;       
    font-size: 1.1em;  
    z-index:1000;  
  /*  color: #2a3d70;*/
     color:White;
}

.BetaFeedback a:link, .BetaFeedback a:visited, .BetaFeedback a:hover
{
   color:White;
      text-decoration: none;
}

/*.BetaFeedback a:visited
{
    color: #2a3d70;
      text-decoration: none;
}

.BetaFeedback a:hover
{
    color: #2a3d70;
      text-decoration: none;
}*/

.loginDisplay a:link, .loginDisplay a:visited, .loginDisplay a:hover
{
    color:White;
      text-decoration: none;
}



.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: center;
    padding-right: 10px;
}

.sliderleft
{ padding-right: 5px;
}
 
.activityHeader
{ text-decoration:underline; padding-top:10px; padding-bottom:5px; color:Black; font-size:12pt;}

.activityItem { padding-left: 10px;}
.activitycheckbox { padding-top:3px; }

 
.sliderright { padding-left:5px;}

.chkListStyle tr td input { float:left; padding-top:3px; width:20px; }
.chkListStyle tr td label { float:left; width:600px; padding-left:10px;}

#ctl00_TableOutline tr td div table tr td a.link {color:Black; background-color:Lime;}

input
{
    text-align:center !important;
 -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input[type=text]
{
    text-align:left !important;
}
input[type=password]
{
    text-align:left !important;
}