﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrintReport.aspx.cs" Inherits="MapSearch.Members.PrintReport" %>


<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=5.0.11.316, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
    Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="height: 100%; width: 100%;">
    <form id="form1" runat="server">
    <div style="height:100%; width:100%; vertical-align:middle;  text-align:center;">
    Generating Report...
  <%--      <telerik:reportviewer id="ReportViewer1" runat="server" Width="100%" Height="100%" >
           </telerik:reportviewer>--%>
    </div>
    </form>
</body>
</html>
