/* CSS Document */



* { margin: 0; padding: 0; }

 

body {

text-align:center;

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 14px;

color:#111111;

background-color:#ffffff;

}



div#main-wrapper{

margin-top:10px;

margin-right:auto;

margin-left:auto;

margin-bottom:15px;

width:952px;

padding:0px;

padding:0px;

background-color:#083e60;

}







h1, h2, div.login, div.componentheading{

font-size:16px;

color:#cc6731;

text-align:left;

font-weight:bold;

margin:0px;

padding:4px 40px 4px 40px;

}



input.button{

display:block;

margin:10px auto;

}





p{

text-align:left;

font-size:11px;

color:#222222;

padding:8px 40px 8px 40px;

}



a{

color:#ce6631;

text-decoration:underline;

}



a:hover{

text-decoration:none;

}



#com-form-login{

text-align:left;

font-size:11px;

color:#222222;

padding:8px 40px 8px 40px;}





img{

border:0px;

}



a img{

border:0px;

}



p{

background:transparent;

}



span.article_separator{

display:none;

}



p.center-text{

text-align:center;

border-top:1px solid #eeeeee;

border-bottom:1px solid #eeeeee;

padding:2px;

margin:8px 40px;

}







/* TABLE */



table{

border-collapse:collapse;

}



table td{

vertical-align:top;
    text-align: left;
}



table#main-table{

width:952px;

background-color:#083e60;

background-image:url(../images/content-background.jpg);

background-repeat:repeat;

padding:0px;

margin:0px;

}



/* SHADOWS */



table#main-table td.shadow-alltop{

width:952px;

height:29px;

background-image:url(../images/shadow-alltop.jpg);

background-image:none;

background-repeat:no-repeat;

background-color:#ffffff;

}



table#main-table td.shadow-allbottom{

width:1012px;

height:29px;

width:952px;

background-image:url(../images/shadow-allbottom.jpg);

background-image:none;

background-repeat:no-repeat;

}







table#main-table td.shadow-left{

background-image:url(../images/shadow-left.jpg);

background-repeat:repeat-y;

}



table#main-table td.shadow-left-none{

background-image:url(../images/shadow-left.jpg);

background-repeat:repeat-y;

}





table#main-table td.shadow-right{

background-image:url(../images/shadow-right.jpg);

background-repeat:repeat-y;

}



table#main-table td.shadow-right-none{

background-image:url(../images/shadow-right.jpg);

background-repeat:repeat-y;

}



table#main-table td.shadow-tmleft{

width:0px;

background-image:url(../images/shadow-tmleft.jpg);

background-repeat:no-repeat;

}



table#main-table td.shadow-tmright{

width:0px;

background-image:url(../images/shadow-tmright.jpg);

background-repeat:no-repeat;

}





table#main-table td.shadow-bmleft{

height:0px;

background-image:url(../images/shadow-bmleft.jpg);

background-repeat:no-repeat;

}



table#main-table td.shadow-bmright{

height:0px;

background-image:url(../images/shadow-bmright.jpg);

background-repeat:no-repeat;

}





/* TABLE SECTIONS */



/* TOP BANNER */



table#main-table td.logo{

background-color:white;

width:952px;

height:70px;

}



/* TOP MENU */





table#main-table td.top-menu div.homepage-flash{

position:relative;

z-index:0;

}



.allvideos {position:relative;z-index:0;}



table#main-table td.top-menu{

background-color:#083e60;

width:952px;

height:40px;

padding:0;

margin:0;

}



table#main-table td.top-menu ul{

background-color:#083e60;

width:952px;

padding:0;

margin:0;

}



table#main-table td.top-menu ul.menu{

position:relative;

z-index:999999;

}



table#main-table td.top-menu ul li{

height:40px;

background-color:#083e60;

display:inline;

float:left;

padding:0;

margin:0;

}







table#main-table td.top-menu a{

color:white;

padding:10px 30px 10px 30px;

background-color:transparent;

background-color:#083e60;

text-decoration:none;

font-size:14px;

border:1px solid #083e60;

line-height:110%;

}



table#main-table td.top-menu a:hover,

table#main-table td.top-menu li#current a{

color:#aaaaaa;

}





table#main-table td.top-menu ul li ul{

background-color:#083e60;

width:200px;

padding:0;

margin:0;

}



table#main-table td.top-menu ul li ul li{

background-color:#083e60;

display:block;

padding:0;

margin:0;

text-align:left;

}



table#main-table td.top-menu span.separator{

color:white;

padding:10px 30px 10px 30px;

background-color:transparent;

background-color:#083e60;

text-decoration:none;

font-size:14px;

border:1px solid #083e60;

}



* html table#main-table td.top-menu ul li { float: left; width:100px;}

* html table#main-table td.top-menu ul li ul{ width:100px;}



/* MAIN CONTENT AND RIGHT COLUMN */





table#main-table td.main-content{

background-color:transparent;

text-align:left;

vertical-align:top;

padding:0px;

margin:0px;

background-image:url(../images/round-middle.jpg);

background-repeat:repeat-y;

}



div.gears{

background-image:url(../images/round-middle4.jpg);

background-repeat:no-repeat;

padding:0px;

margin:0px;

display:block;

width:952px;

}





table#main-table td.main-content table{

padding:0px;

margin:0px;

}







table#main-table td.main-content ul{

margin:8px 30px 8px 80px;

list-style-image:url(../images/orange-square.jpg);

list-style-position:outside;

}



table#main-table td.main-content ul li{

padding:0px;

font-size:11px;

margin:3px 0px;

}







table#main-table td.main-content ul li h3{

font-size:11px;

color:#cc6731;

text-align:left;

font-weight:bold;

}



table#main-table td.main-content ul li p{

text-align:left;

font-size:11px;

color:#222222;

padding:8px 0px;

}



/* BOTTOM BANNER */



table#main-table td.bottom-banner{

background-color:#083e60;

width:952px;

padding:0;

margin:0;

}



div.bottom-banner{

padding:2px 24px 2px 6px;

width:922px;

}



div.bottom-banner-message{

display:block;

width:500px;

float:left;

color:#ffffff;

font-weight:bold;

font-size:11px;

padding-top:10px;

}



div.logo2{

display:block;

float:right;

}





/* COPYRIGHT */







table#main-table td.copyright{

background-color:#083e60;

color:#aaaaaa;

width:952px;

height:50px;

padding:0;

margin:0;

}



table#main-table td.copyright div.moduletable{

color:#aaaaaa;

font-size:10px;

margin:0px;

padding-top:8px;

text-align:center;

}



table#main-table td.copyright div.moduletable a{

color:#aaaaaa;

font-size:10px;

}















/* FORMS */



input,textarea{

background: #ffffff;

color:#111111;

font-size:13px;
    text-align: right;
}

input.ButtonBlue{ background:navy !important; padding:5px; border:none;  font-weight:bold;}

/* TOP BANNER */



div.top-banner{

display:block;

width:900px;

padding:15px 20px;

}



div.logo{

display:block;

float:left;

}



div.top-banner-message{

display:block;

float:right;

text-align:right;

color:#cc6731;

font-size:14px;

padding-top:20px;

}



/* RIGHT COLUMN */



div.moduletableright{

display:block;

width:280px;

background:#e5e5e5;

margin:10px;

margin-right:50px;

padding:0px;

}



div.moduletableright div{

margin:10px;

}



div.moduletableright h2{

color:#073e5f;

padding:14px;

}



table#main-table td.main-content table.contentpaneopenright td ul{

margin:8px;

margin-left:40px;

list-style-image:url(../images/blue-square.jpg);

list-style-position:outside;

}



table#main-table td.main-content table.contentpaneopenright td ul li{

padding:0px;

margin:3px 0px;

}



div.moduletableright p{

padding:6px 14px;

}



/* IMAGE FLOAT */



img.float-left{

display:block;

float:left;

}



img.float-right{

display:block;

float:right;

}



/* WHITEPAPER FORM */



div.whitepaper-form{

text-align:left;

font-size:11px;

font-weight:bold;

color:#ce6631;

margin:8px 40px 8px 40px;

padding:10px;

border:1px solid #e5e5e5;

}



div.whitepaper-form table td.left{

width:140px;

}



table#main-table td.main-content ol{

margin:8px 40px 8px 40px;

}



/* Biography Menu */



table#main-table td.main-content ul.menu-bio{

padding:10px;

border:1px solid #e5e5e5;

list-style-type:none;

margin:8px 30px 8px 30px;

list-style-image:none;

list-style-image:url(../images/junk.jpg);

list-style-position:outside;

}



table#main-table td.main-content ul.menu-bio li{

margin: 10px 0px;

}



ul.menu-bio a{

color:#222222;

font-weight:bold;

}



/* READ MORE & COMMENT STYLING */



div.commentBlogView{

font-size:11px;

color:#222222;

padding:8px 40px 8px 40px;

}



div#jc_commentFormDiv{

font-size:11px;

color:#222222;

padding:8px 40px 8px 40px;

background:transparent;

}





/* RSS */







div.-rss{

display:block;

width:280px;

margin:10px;

margin-right:50px;

padding:0px;

}



#jcCommentFormWrap{

width:525px;

}





ul.srfrList{

margin:0px;

margin-right:25px;

padding:0px;

}



ul.srfrList li{

padding:0px;

margin:3px 0px;

list-style-type:none;

list-style-image:none;

list-style-position:outside;

}



div.srfrContainer p{

padding:6px 14px;

}



div.moduletable-rss h3,

div.moduletable-fb h3{

color:#073e5f;

padding:6px 14px;

}





div.moduletable-fb a{

color:#ce6631;

text-decoration:underline;

padding:6px 14px;

font-size:0.95em;

}



div.moduletable-fb a:hover{

text-decoration:none;

padding:6px 14px;

font-size:0.95em;

}



p.no-spacing{

margin:0px;

padding:0px;

}

