@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);

* {
    box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: '';
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

html,
body {
    width: 100%;
    height: 100%;
    font-family: Source Sans Pro;
    font-size: 14px;
}

html {
    /*font-size: 16px;*/
    -webkit-font-smoothing: antialiased;
    background: #EDF2F6;
}

body {
    /*font-size: 62.5%;*/
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
}

    select.bump {
        margin-top: -2px;
    }

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #354053;
    transition: all 0.3s ease-in-out;
}

    .sidebar .logo {
        display: inline-block;
        padding: 5px;
        margin-bottom: 100px;
        width: 100%;
        height: 50px;
    }

        .sidebar .logo img {
            width: 100%;
            height: 100%;
            background: #fff;
        }

    .sidebar nav {
        position: relative;
    }

        .sidebar nav .active {
            background: #30394A;
            border-left: 5px solid #5EFFCB;
        }

            .sidebar nav .active img {
                fill: #fff;
            }

        .sidebar nav li {
            margin-bottom: 20px;
            padding: 10px;
            padding-left: 20px;
        }

            .sidebar nav li h1 {
                font-weight: 700;
                /*font-size: 1.4em;*/
                text-transform: uppercase;
                line-height: 30px;
                color: #fff;
            }

            .sidebar nav li img {
                margin-right: 15px;
                width: 30px;
                height: auto;
                float: left;
            }

        .sidebar nav .hidden-menu {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            display: none;
            width: 70px;
            height: 50px;
            padding: 15px;
            text-align: center;
            background: #354053;
            cursor: pointer;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        }

            .sidebar nav .hidden-menu h1 {
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
            }

.hide {
    transform: translateX(0);
}

main {
    margin-top: 50px;
    padding: 30px;
    float: right;
    height: calc(100vh - 50px);
    width: calc(100vw - 250px);
    overflow: auto;
}

.topbar {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 250px;
    height: 50px;
    width: calc(100vw - 250px);
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.welcome-title {
    float: left;
    height: 100%;
    margin-left: 15px;
    /*font-size: 1.4em;*/
}

    .welcome-title h1 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
    }

.right-items {
    height: 100%;
    float: right;
}

.notification {
    display: none;
    height: 100%;
    float: left;
    background: #707E95;
    cursor: pointer;
}

    .notification .notification-title {
        height: 100%;
    }

        .notification .notification-title h1 {
            display: inline-block;
            /*font-size: 1.4em;*/
            font-weight: 600;
            line-height: 50px;
            color: #fff;
        }

        .notification .notification-title .bell {
            float: left;
        }

        .notification .notification-title .caret {
            float: right;
        }

        .notification .notification-title figure {
            height: 100%;
        }

        .notification .notification-title img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            margin: 0 15px;
        }

    .notification .indiv-notif {
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        display: none;
    }

        .notification .indiv-notif li {
            height: 50px;
            background: #fff;
            border-top: 1px solid #838383;
        }

.header-date {
    height: 100%;
    float: right;
}

    .header-date time {
        position: relative;
        display: inline-block;
        margin: 0 40px;
        top: 50%;
        transform: translateY(-50%);
        /*font-size: 1.4em;*/
        color: #000;
    }

.student-class {
    height: 50px;
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

    .student-class .title {
        position: relative;
        display: inline-block;
        height: 100%;
        background: #707E95;
    }

        .student-class .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    .student-class .enrolled-class {
        display: inline-block;
        height: 100%;
        background: #fff;
    }

        .student-class .enrolled-class p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            /*font-size: 1.4em;*/
            color: #000;
        }

.goals-db {
    text-align: left;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

    .goals-db .title {
        height: 50px;
        background: #707E95;
    }

        .goals-db .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    .goals-db table {
        background: #fff;
        width: 100%;
    }

        .goals-db table figure {
            position: relative;
            height: 100%;
            text-align: center;
        }

            .goals-db table figure img {
                width: 30px;
            }

        .goals-db table tr {
            height: 50px;
            border-top: 1px solid #838383;
        }

            .goals-db table tr table tr {
                border-top: none;
            }

        .goals-db table th {
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #000;
            vertical-align: middle;
        }

        .goals-db table td {
            /*font-size: 1.4em;*/
            color: #000;
            vertical-align: middle;
        }

            .goals-db table td:first-child,
            .goals-db table th:first-child {
                padding-left: 15px;
            }

        .goals-db table th:nth-child(n+3) {
            text-align: center;
        }

.progress-period {
    height: 50px;
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

    .progress-period .title {
        position: relative;
        float: left;
        height: 100%;
        background: #707E95;
    }

        .progress-period .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    .progress-period .enrolled-class {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: auto;
        overflow: hidden;
        background: #fff;
    }

        .progress-period .enrolled-class select {
            -webkit-appearance: none;
            /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
            -moz-appearance: none;
            /*REMOVES DEFAULT FIREFOX STYLE*/
            border: 0;
            width: 90%;
            margin-left: 15px;
            font-family: inherit;
            font-size: 1.4em;
            cursor: pointer;
            background: url("../img/caret.png") no-repeat center right;
            background-size: 20px auto;
            filter: contrast(4%);
        }

.goals-section {
    text-align: left;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    .goals-section .title {
        height: 50px;
        background: #707E95;
    }

        .goals-section .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            font-size: 1.4em;
            font-weight: 600;
            color: #fff;
        }

    .goals-section .caret {
        margin-right: 15px;
    }

        .goals-section .caret img {
            top: 0;
            transform: rotate(-90deg);
            width: 20px;
            filter: contrast(5%);
        }

    .goals-section table {
        display: inline-block;
        float: left;
        background: #fff;
    }

        .goals-section table figure {
            position: relative;
            height: 100%;
            text-align: center;
        }

            .goals-section table figure img {
                width: 30px;
            }

        .goals-section table .active {
            background: #e0e0e0;
        }

        .goals-section table tr {
            height: 50px;
            border: 1px solid #838383;
            border-width: 1px 0 1px 0;
        }

        .goals-section table th {
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #000;
            vertical-align: middle;
        }

        .goals-section table td {
            vertical-align: middle;
            font-size: 1.4em;
            color: #000;
        }

            .goals-section table td:first-child,
            .goals-section table th:first-child {
                padding-left: 15px;
            }

        .goals-section table th:nth-child(2) {
            text-align: center;
        }

        .goals-section table tbody tr {
            cursor: pointer;
        }

    .goals-section .selected-goal {
        padding: 15px;
        overflow: auto;
        height: 100%;
        background: white;
        border: 1px solid #838383;
        border-width: 1px 0 0 1px;
    }

        .goals-section .selected-goal h1 {
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #000;
        }

        .goals-section .selected-goal .activities h1 {
            margin-bottom: 5px;
        }

        .goals-section .selected-goal .activities ul li:not(:last-child) {
            margin-bottom: 10px;
        }

        .goals-section .selected-goal .activities ul label {
            /*font-size: 1.4em;*/
            color: #000;
            display: block;
            padding-left: 15px;
            text-indent: -20px;
            line-height: 1.5em;
        }

        .goals-section .selected-goal .goal-status {
            margin: 15px auto;
        }

            .goals-section .selected-goal .goal-status h1 {
                display: inline-block;
            }

            .goals-section .selected-goal .goal-status .progress-status-wrapper {
                width: 50%;
                display: inline-block;
                margin-left: 15px;
                border: 1px solid #838383;
                padding: 10px;
            }

                .goals-section .selected-goal .goal-status .progress-status-wrapper select {
                    -webkit-appearance: none;
                    /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
                    -moz-appearance: none;
                    /*REMOVES DEFAULT FIREFOX STYLE*/
                    border: 0;
                    width: 100%;
                    font-family: inherit;
                    /*font-size: 1.4em;*/
                    cursor: pointer;
                    background: url("../img/caret.png") no-repeat center right;
                    background-size: 20px auto;
                    filter: contrast(4%);
                }

        .goals-section .selected-goal .progress-questions li:not(:last-child) {
            margin-bottom: 15px;
        }

        .goals-section .selected-goal .progress-questions li h1 {
            margin-bottom: 5px;
        }

        .goals-section .selected-goal .progress-questions li textarea {
            display: block;
            width: 100%;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

        .goals-section .selected-goal input[value="Update"] {
            display: block;
            margin: 10px auto;
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            background: #a8a8a8;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

    .goals-section .modify-goals {
        clear: both;
        padding: 10px;
        background: #d3d3d3;
    }

        .goals-section .modify-goals button {
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #a8a8a8;
            border: 0;
            /*font-family: inherit;*/
            /*font-size: 1.4em;*/
        }

        .goals-section .modify-goals .selection {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 110;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.75);
        }

        .goals-section .modify-goals .goals-wrapper {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70vw;
            height: 70vh;
            background: #fff;
        }

            .goals-section .modify-goals .goals-wrapper form {
                position: relative;
                height: 100%;
            }

            .goals-section .modify-goals .goals-wrapper header {
                padding: 10px 10px 0 10px;
                width: 100%;
                height: 50px;
                background: #707E95;
            }

                .goals-section .modify-goals .goals-wrapper header > h1 {
                    display: inline-block;
                    /*font-size: 1.4em;*/
                    font-weight: 600;
                    color: #fff;
                }

                .goals-section .modify-goals .goals-wrapper header input[value="Save Goals"] {
                    float: right;
                    padding: 5px 10px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: #fff;
                    border: 0;
                    font-family: inherit;
                    /*font-size: 1.4em;*/
                }

                .goals-section .modify-goals .goals-wrapper header .num-selected-goals h1 {
                    margin-top: 5px;
                    font-family: inherit;
                    font-size: 1.2em;
                    color: #fff;
                }

            .goals-section .modify-goals .goals-wrapper .list-of-goals {
                position: absolute;
                top: 50px;
                left: 0;
                width: 50%;
                height: calc(100% - 50px);
                overflow-y: auto;
            }

                .goals-section .modify-goals .goals-wrapper .list-of-goals .active {
                    background: #e0e0e0;
                }

                .goals-section .modify-goals .goals-wrapper .list-of-goals li {
                    height: 50px;
                    cursor: pointer;
                    border-top: 1px solid #838383;
                }

                    .goals-section .modify-goals .goals-wrapper .list-of-goals li:first-child {
                        border-top: 0;
                    }

                    .goals-section .modify-goals .goals-wrapper .list-of-goals li:last-child {
                        border-bottom: 0;
                    }

                    .goals-section .modify-goals .goals-wrapper .list-of-goals li .caret {
                        margin-right: 15px;
                        display: inline-block;
                        width: 20px;
                        float: right;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .goals-section .modify-goals .goals-wrapper .list-of-goals li label {
                        padding-left: 15px;
                        display: inline-block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        /*font-size: 1.4em;*/
                        color: #000;
                    }

            .goals-section .modify-goals .goals-wrapper .mod-goals-selected {
                position: absolute;
                top: 50px;
                right: 0;
                padding: 15px;
                width: 50%;
                height: calc(100% - 50px);
                overflow-y: auto;
                border: 1px solid #838383;
                border-width: 0 0 0 1px;
            }

                .goals-section .modify-goals .goals-wrapper .mod-goals-selected h1 {
                    /*font-size: 1.4em;*/
                    font-weight: 600;
                    color: #000;
                }

                .goals-section .modify-goals .goals-wrapper .mod-goals-selected .mod-goals-select-activities {
                    margin-top: 15px;
                }

                    .goals-section .modify-goals .goals-wrapper .mod-goals-selected .mod-goals-select-activities > li {
                        margin-bottom: 15px;
                    }

                        .goals-section .modify-goals .goals-wrapper .mod-goals-selected .mod-goals-select-activities > li h1 {
                            margin-bottom: 5px;
                        }

                        .goals-section .modify-goals .goals-wrapper .mod-goals-selected .mod-goals-select-activities > li li {
                            margin-bottom: 5px;
                        }

                    .goals-section .modify-goals .goals-wrapper .mod-goals-selected .mod-goals-select-activities label {
                        /*font-size: 1.4em;*/
                        color: #000;
                        display: block;
                        padding-left: 15px;
                        text-indent: -20px;
                        line-height: 1.5em;
                    }

                .goals-section .modify-goals .goals-wrapper .mod-goals-selected .selected-activities-counter h1 {
                    display: inline-block;
                }

                .goals-section .modify-goals .goals-wrapper .mod-goals-selected .selected-activities-counter p {
                    display: inline-block;
                    /*font-size: 1.4em;*/
                }

.expanded {
    transform: rotateX(180deg);
}

section.people {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    section.people .people-tabs {
        background: #fff;
    }

        section.people .people-tabs .active {
            border-bottom: 5px solid #707E95;
            font-weight: 600;
        }

        section.people .people-tabs li {
            display: inline-block;
            height: 50px;
        }

        section.people .people-tabs a {
            margin: 0 15px;
            display: inline-block;
            /*font-size: 1.4em;*/
            color: #000;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

    section.people .people-body[data="people-class-list"], section.people .people-body[data="people-email"] {
        display: none;
    }

    section.people .people-body .compose-email {
        padding: 10px;
        background: #d3d3d3;
        text-align: right;
    }

        section.people .people-body .compose-email button {
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #a8a8a8;
            border: 0;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

    section.people .people-body table {
        width: 100%;
    }

        section.people .people-body table thead {
            background: #707E95;
        }

            section.people .people-body table thead th {
                vertical-align: middle;
                text-align: left;
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #fff;
            }

                section.people .people-body table thead th:nth-child(3), section.people .people-body table thead th:last-child {
                    text-align: center;
                }

        section.people .people-body table tbody tr {
            background: #fff;
        }

            section.people .people-body table tbody tr td:last-child {
                cursor: pointer;
            }

        section.people .people-body table tr {
            height: 50px;
            border: 1px solid #838383;
            border-width: 1px 0 1px 0;
        }

        section.people .people-body table td {
            position: relative;
            vertical-align: middle;
            /*font-size: 1.4em;*/
            color: #000;
        }

            section.people .people-body table td figure img {
                width: 30px;
            }

            section.people .people-body table td:first-child,
            section.people .people-body table th:first-child {
                padding-left: 15px;
            }

            section.people .people-body table td:nth-child(3), section.people .people-body table td:last-child {
                text-align: center;
            }

        section.people .people-body table.coach-info thead th {
            text-align: left;
        }

        section.people .people-body table.coach-info td:nth-child(n+1) {
            text-align: left;
        }

    section.people .people-body tr.indiv-info {
        border: 0;
        height: auto;
    }

        section.people .people-body tr.indiv-info > td {
            padding-left: 0;
        }

        section.people .people-body tr.indiv-info td.indiv-info-cell {
            cursor: auto;
        }

        section.people .people-body tr.indiv-info .indiv-info-wrapper {
            display: none;
            padding: 15px;
            background: #d3d3d3;
            box-shadow: inset 0 2px 4px #888, inset 0 -2px 4px #888;
            cursor: auto;
        }

        section.people .people-body tr.indiv-info td th {
            /*font-size: 1em;*/
            text-align: left;
        }

        section.people .people-body tr.indiv-info td table {
            text-align: left;
        }

            section.people .people-body tr.indiv-info td table thead tr {
                background: none;
                border: 0;
            }

                section.people .people-body tr.indiv-info td table thead tr th:first-child {
                    width: 25%;
                }

                section.people .people-body tr.indiv-info td table thead tr th:nth-child(2) {
                    width: 25%;
                }

            section.people .people-body tr.indiv-info td table tbody {
                vertical-align: top;
            }

                section.people .people-body tr.indiv-info td table tbody tr td {
                    padding-top: 10px;
                    vertical-align: top;
                    /*font-size: 1em;*/
                    text-align: left;
                }

                    section.people .people-body tr.indiv-info td table tbody tr td:last-child {
                        padding: 10px 0;
                        line-height: 1.5em;
                        cursor: auto;
                    }

                    section.people .people-body tr.indiv-info td table tbody tr td b {
                        font-weight: 700;
                        display: block;
                    }

                        section.people .people-body tr.indiv-info td table tbody tr td b:not(:first-child) {
                            margin-top: 15px;
                        }

                    section.people .people-body tr.indiv-info td table tbody tr td a {
                        position: relative;
                        display: block;
                        margin-top: 10px;
                        text-decoration: underline;
                    }

        section.people .people-body tr.indiv-info div.activities-payoff-modal {
            position: absolute;
            z-index: 5;
            display: none;
            padding: 15px;
            margin-top: 10px;
            height: auto;
            width: 300%;
            overflow: scroll;
            background: #fff;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        }

            section.people .people-body tr.indiv-info div.activities-payoff-modal h1 {
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #000;
                /*font-size: 1em;*/
            }

            section.people .people-body tr.indiv-info div.activities-payoff-modal ul {
                list-style: disc;
                padding-left: 20px;
            }

                section.people .people-body tr.indiv-info div.activities-payoff-modal ul li {
                    line-height: 1.5em;
                }

            section.people .people-body tr.indiv-info div.activities-payoff-modal div.activities-modal-list {
                margin-bottom: 15px;
            }

    section.people .people-body .class-list-period-email {
        height: 50px;
        background: #d3d3d3;
    }

        section.people .people-body .class-list-period-email .period-selection {
            float: left;
            padding-left: 15px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

            section.people .people-body .class-list-period-email .period-selection h1 {
                display: inline-block;
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #000;
            }

            section.people .people-body .class-list-period-email .period-selection .period-wrapper {
                width: 200px;
                display: inline-block;
                margin-left: 15px;
                border: 1px solid #838383;
                padding: 10px;
                background: #fff;
            }

                section.people .people-body .class-list-period-email .period-selection .period-wrapper select {
                    -webkit-appearance: none;
                    /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
                    -moz-appearance: none;
                    /*REMOVES DEFAULT FIREFOX STYLE*/
                    border: 0;
                    width: 100%;
                    font-family: inherit;
                    /*font-size: 1.4em;*/
                    cursor: pointer;
                    background: url("../img/caret.png") no-repeat center right;
                    background-size: 20px auto;
                    filter: contrast(4%);
                }

        section.people .people-body .class-list-period-email .compose-email {
            float: right;
        }

    section.people .people-body .email-header .recipient-row, section.people .people-body .email-header .subject-row {
        height: 50px;
        background: #707E95;
        border: 1px solid #838383;
        border-width: 1px 0 1px 0;
    }

    section.people .people-body .email-header label {
        width: 80px;
        display: inline-block;
        padding-right: 10px;
        float: left;
        text-align: right;
        /*font-size: 1.4em;*/
        font-weight: 600;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    section.people .people-body .email-header input {
        -webkit-appearance: none;
        /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
        -moz-appearance: none;
        /*REMOVES DEFAULT FIREFOX STYLE*/
        border: 0;
        display: inline-block;
        height: 50px;
        width: calc(100% - 80px);
        /*font-size: 1.4em;*/
        color: #000;
        border: 1px solid #838383;
        border-width: 1px 0 1px 0;
    }

    section.people .people-body .email-body textarea {
        display: block;
        width: 100%;
        /*font-size: 1.4em;*/
        color: #000;
    }

    section.people .people-body .send-email {
        padding: 10px;
        background: #d3d3d3;
        text-align: right;
    }

        section.people .people-body .send-email button {
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #a8a8a8;
            border: 0;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

section.resources-tools {
    text-align: left;
}

    section.resources-tools .resources-tools-modal {
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        margin-bottom: 15px;
    }

        section.resources-tools .resources-tools-modal .title {
            height: 50px;
            background: #707E95;
        }

            section.resources-tools .resources-tools-modal .title h1 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 15px;
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #fff;
            }

        section.resources-tools .resources-tools-modal ul {
            padding: 15px;
            background: #fff;
        }

            section.resources-tools .resources-tools-modal ul li {
                /*font-size: 1.4em;*/
                color: #000;
                line-height: 1.25em;
            }

                section.resources-tools .resources-tools-modal ul li a {
                    text-decoration: underline;
                }

section.settings {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    section.settings .title {
        height: 50px;
        background: #707E95;
    }

        section.settings .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    section.settings .settings-body table, section.settings .settings-body div {
        width: 100%;
    }

.settings-body div {
    background-color: #FFFFFF;
    padding: 15px;
    /*font-size: 1.4em;*/
    color: #000;
}

section.settings .settings-body table td,
section.settings .settings-body table th {
    vertical-align: middle;
    color: #000;
}

section.settings .settings-body table th {
    width: 30%;
    padding-right: 15px;
    /*font-size: 1.4em;*/
    font-weight: 600;
    color: #000;
    text-align: right;
}

section.settings .settings-body table td {
    text-align: left;
}

    section.settings .settings-body table td input {
        width: 50%;
        /*font-size: 1.4em;*/
        color: #000;
        /*font-size: 1em;*/
        color: #000;
    }

        section.settings .settings-body table td input::-webkit-input-placeholder {
            color: #000;
        }

        section.settings .settings-body table td input:-moz-placeholder {
            /* Firefox 18- */
            color: #000;
        }

        section.settings .settings-body table td input::-moz-placeholder {
            /* Firefox 19+ */
            color: #000;
        }

        section.settings .settings-body table td input:-ms-input-placeholder {
            color: #000;
        }

section.settings .settings-body table tr {
    height: 50px;
    border: 1px solid #838383;
    border-width: 1px 0 1px 0;
    background: #fff;
}

section.settings .edit-buttons {
    position: relative;
    padding: 10px;
    background: #d3d3d3;
}

    section.settings .edit-buttons button, section.settings .edit-buttons input {
        padding: 5px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #a8a8a8;
        border: 0;
        font-family: inherit;
        /*font-size: 1.4em;*/
        float: right;
    }

section.settings .settings-body table td.checkbox input {
    width: auto;
}




/**COACH**/
.coaching-class {
    height: 50px;
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

    .coaching-class .title {
        position: relative;
        display: inline-block;
        height: 100%;
        background: #707E95;
        float: left;
    }

        .coaching-class .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    .coaching-class .enrolled-class {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: auto;
        overflow: hidden;
        background: #fff;
    }

        .coaching-class .enrolled-class select {
            -webkit-appearance: none;
            /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
            -moz-appearance: none;
            /*REMOVES DEFAULT FIREFOX STYLE*/
            border: 0;
            width: 90%;
            margin-left: 15px;
            font-family: inherit;
            /*font-size: 1.4em;*/
            cursor: pointer;
            background: url("../img/caret.png") no-repeat center right;
            background-size: 20px auto;
            filter: contrast(4%);
        }

.coach-db-student-progress {
    position: relative;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    .coach-db-student-progress .title {
        height: 50px;
        background: #707E95;
    }

        .coach-db-student-progress .title h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 15px;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

    .coach-db-student-progress .legend {
        padding: 15px 0 15px 15px;
        background: #fff;
    }

        .coach-db-student-progress .legend .progress-legend li {
            font-weight: 600;
        }

        .coach-db-student-progress .legend .none {
            color: #d84949;
        }

        .coach-db-student-progress .legend .some {
            color: #ccb32b;
        }

        .coach-db-student-progress .legend .significant {
            color: #139f13;
        }

        .coach-db-student-progress .legend .complete {
            color: #0f55a7;
        }

        .coach-db-student-progress .legend .impact span {
            margin-right: 5px;
            color: #0404a8;
            font-weight: 900;
        }

        .coach-db-student-progress .legend .goals-set span {
            margin-right: 5px;
            font-weight: 900;
            color: #c99514;
        }

        .coach-db-student-progress .legend .goals-not-entered span {
            margin-right: 5px;
            font-weight: 900;
            color: #af2d2d;
            text-decoration: line-through;
        }

        .coach-db-student-progress .legend .coaching i {
            margin-right: 5px;
            color: #c99514;
        }

        .coach-db-student-progress .legend h1 {
            display: inline-block;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #000;
        }

        .coach-db-student-progress .legend ul {
            display: inline-block;
        }

            .coach-db-student-progress .legend ul:not(:last-child) {
                margin-right: 20px;
            }

            .coach-db-student-progress .legend ul li {
                display: inline-block;
                /*font-size: 1.4em;*/
                color: #000;
            }

                .coach-db-student-progress .legend ul li:not(:last-child) {
                    margin-right: 5px;
                }

    .coach-db-student-progress table {
        width: 100%;
    }

        .coach-db-student-progress table .goals-set span {
            font-weight: 900;
            color: #c99514;
        }

        .coach-db-student-progress table .goals-not-entered span {
            font-weight: 900;
            color: #af2d2d;
            text-decoration: line-through;
        }

        .coach-db-student-progress table .coaching i {
            color: #c99514;
        }

        .coach-db-student-progress table thead {
            background: #707E95;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
        }

            .coach-db-student-progress table thead th {
                vertical-align: middle;
            }

            .coach-db-student-progress table thead .num-goal-progress {
                padding: 5px;
                padding-bottom: 0;
            }

                .coach-db-student-progress table thead .num-goal-progress li {
                    float: left;
                    width: 20%;
                    height: 10px;
                }

                    .coach-db-student-progress table thead .num-goal-progress li:first-child {
                        background-color: #d84949;
                    }

                    .coach-db-student-progress table thead .num-goal-progress li:nth-child(2) {
                        background-color: #ccb32b;
                    }

                    .coach-db-student-progress table thead .num-goal-progress li:nth-child(3) {
                        background-color: #139f13;
                    }

                    .coach-db-student-progress table thead .num-goal-progress li:nth-child(4) {
                        background-color: #0f55a7;
                    }

                .coach-db-student-progress table thead .num-goal-progress .impact {
                    text-align: center;
                    padding-bottom: 0;
                }

                    .coach-db-student-progress table thead .num-goal-progress .impact span {
                        display: block;
                        color: #0404a8;
                        font-weight: 900;
                        background: #fff;
                    }

        .coach-db-student-progress table tbody tr {
            height: 40px;
            text-align: center;
            background: #fff;
            border: 1px solid #838383;
            border-width: 1px 0 1px 0;
        }

        .coach-db-student-progress table tbody td {
            vertical-align: middle;
            /*font-size: 1.4em;*/
            color: #000;
        }

            .coach-db-student-progress table tbody td:not(:last-child) {
                border-right: 1px solid #838383;
            }

        .coach-db-student-progress table tbody .expand-button {
            cursor: pointer;
        }

            .coach-db-student-progress table tbody .expand-button figure img {
                width: 30px;
                filter: contrast(4%);
            }

        .coach-db-student-progress table tbody .num-goal-progress-student li {
            display: inline-block;
            width: 20%;
            float: left;
            font-weight: 900;
        }

            .coach-db-student-progress table tbody .num-goal-progress-student li:first-child {
                color: #d84949;
            }

            .coach-db-student-progress table tbody .num-goal-progress-student li:nth-child(2) {
                color: #ccb32b;
            }

            .coach-db-student-progress table tbody .num-goal-progress-student li:nth-child(3) {
                color: #139f13;
            }

            .coach-db-student-progress table tbody .num-goal-progress-student li:nth-child(4) {
                color: #0f55a7;
            }

        .coach-db-student-progress table tbody .num-goal-progress-student .impact {
            text-align: center;
        }

            .coach-db-student-progress table tbody .num-goal-progress-student .impact span {
                display: block;
                color: #0404a8;
                font-weight: 900;
                background: #fff;
            }

        .coach-db-student-progress table tr.indiv-info {
            border: 0;
            height: auto;
        }

            .coach-db-student-progress table tr.indiv-info > td {
                padding-left: 0;
            }

            .coach-db-student-progress table tr.indiv-info td.indiv-info-cell {
                cursor: auto;
            }

            .coach-db-student-progress table tr.indiv-info .indiv-info-wrapper {
                display: none;
                padding: 15px;
                background: #d3d3d3;
                box-shadow: inset 0 2px 4px #888, inset 0 -2px 4px #888;
                cursor: auto;
            }

            .coach-db-student-progress table tr.indiv-info .period-selection {
                float: left;
                padding-left: 15px;
                margin-bottom: 15px;
            }

                .coach-db-student-progress table tr.indiv-info .period-selection h1 {
                    display: inline-block;
                    /*font-size: 1.4em;*/
                    font-weight: 600;
                    color: #000;
                    /*font-size: 1em;*/
                }

                .coach-db-student-progress table tr.indiv-info .period-selection .period-wrapper {
                    width: 200px;
                    display: inline-block;
                    margin-left: 15px;
                    border: 1px solid #838383;
                    padding: 10px;
                    background: #fff;
                }

                    .coach-db-student-progress table tr.indiv-info .period-selection .period-wrapper select {
                        -webkit-appearance: none;
                        /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
                        -moz-appearance: none;
                        /*REMOVES DEFAULT FIREFOX STYLE*/
                        border: 0;
                        width: 100%;
                        font-family: inherit;
                        /*font-size: 1em;*/
                        cursor: pointer;
                        background: url("../img/caret.png") no-repeat center right;
                        background-size: 20px auto;
                        filter: contrast(4%);
                    }

            .coach-db-student-progress table tr.indiv-info td th {
                /*font-size: 1em;*/
                text-align: left;
            }

            .coach-db-student-progress table tr.indiv-info td table {
                text-align: left;
            }

                .coach-db-student-progress table tr.indiv-info td table thead {
                    /*font-size: 1em;*/
                }

                    .coach-db-student-progress table tr.indiv-info td table thead tr {
                        background: none;
                        border: 0;
                    }

                        .coach-db-student-progress table tr.indiv-info td table thead tr th:first-child {
                            width: 25%;
                            padding-left: 15px;
                        }

                        .coach-db-student-progress table tr.indiv-info td table thead tr th:nth-child(2) {
                            width: 25%;
                        }

                .coach-db-student-progress table tr.indiv-info td table tbody {
                    vertical-align: top;
                }

                    .coach-db-student-progress table tr.indiv-info td table tbody tr td {
                        padding-top: 10px;
                        vertical-align: top;
                        /*font-size: 1em;*/
                        text-align: left;
                        border: 0;
                    }

                        .coach-db-student-progress table tr.indiv-info td table tbody tr td:first-child {
                            padding-left: 15px;
                        }

                        .coach-db-student-progress table tr.indiv-info td table tbody tr td:last-child {
                            padding: 10px 0;
                            line-height: 1.5em;
                            cursor: auto;
                        }

                        .coach-db-student-progress table tr.indiv-info td table tbody tr td b {
                            font-weight: 700;
                            display: block;
                        }

                            .coach-db-student-progress table tr.indiv-info td table tbody tr td b:not(:first-child) {
                                margin-top: 15px;
                            }

                        .coach-db-student-progress table tr.indiv-info td table tbody tr td a {
                            position: relative;
                            display: block;
                            margin-top: 10px;
                            text-decoration: underline;
                        }

            .coach-db-student-progress table tr.indiv-info div.activities-payoff-modal {
                position: absolute;
                z-index: 5;
                display: none;
                padding: 15px;
                margin-top: 10px;
                height: auto;
                width: auto;
                overflow: scroll;
                background: #fff;
                box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
            }

                .coach-db-student-progress table tr.indiv-info div.activities-payoff-modal h1 {
                    /*font-size: 1.4em;*/
                    font-weight: 600;
                    color: #000;
                    /*font-size: 1em;*/
                }

                .coach-db-student-progress table tr.indiv-info div.activities-payoff-modal ul {
                    list-style: disc;
                    padding-left: 20px;
                }

                    .coach-db-student-progress table tr.indiv-info div.activities-payoff-modal ul li {
                        line-height: 1.5em;
                    }

                .coach-db-student-progress table tr.indiv-info div.activities-payoff-modal div.activities-modal-list {
                    margin-bottom: 15px;
                }

section.coach-students {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    section.coach-students .people-tabs {
        background: #fff;
    }

        section.coach-students .people-tabs .active {
            border-bottom: 5px solid #707E95;
            font-weight: 600;
        }

        section.coach-students .people-tabs li {
            display: inline-block;
            height: 50px;
        }

        section.coach-students .people-tabs a {
            margin: 0 15px;
            display: inline-block;
            /*font-size: 1.4em;*/
            color: #000;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

    section.coach-students .people-body[data="people-email"] {
        display: none;
    }

    section.coach-students .people-body .compose-email {
        padding: 10px;
        background: #d3d3d3;
        text-align: right;
    }

        section.coach-students .people-body .compose-email button {
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #a8a8a8;
            border: 0;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

    section.coach-students .people-body select[name="rating"] {
        /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
        /*REMOVES DEFAULT FIREFOX STYLE*/
        border: 0;
        font-family: inherit;
        /*font-size: 1em;*/
        cursor: pointer;
    }

    section.coach-students .people-body table {
        width: 100%;
    }

        section.coach-students .people-body table thead {
            background: #707E95;
        }

            section.coach-students .people-body table thead th {
                vertical-align: middle;
                text-align: left;
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #fff;
            }

                section.coach-students .people-body table thead th:nth-child(3), section.coach-students .people-body table thead th:last-child {
                    text-align: center;
                }

        section.coach-students .people-body table tbody tr {
            background: #fff;
        }

            section.coach-students .people-body table tbody tr td:last-child {
                cursor: pointer;
            }

        section.coach-students .people-body table tr {
            height: 50px;
            border: 1px solid #838383;
            border-width: 1px 0 1px 0;
        }

        section.coach-students .people-body table td {
            position: relative;
            vertical-align: middle;
            /*font-size: 1.4em;*/
            color: #000;
        }

            section.coach-students .people-body table td figure img {
                width: 30px;
            }

            section.coach-students .people-body table td:first-child,
            section.coach-students .people-body table th:first-child {
                padding-left: 15px;
            }

            section.coach-students .people-body table td:nth-child(3), section.coach-students .people-body table td:last-child {
                text-align: center;
            }

        section.coach-students .people-body table.coach-info thead th {
            text-align: left;
        }

        section.coach-students .people-body table.coach-info td:nth-child(n+1) {
            text-align: left;
        }

    section.coach-students .people-body tr.indiv-info {
        border: 0;
        height: auto;
    }

        section.coach-students .people-body tr.indiv-info > td {
            padding-left: 0;
        }

        section.coach-students .people-body tr.indiv-info td.indiv-info-cell {
            cursor: auto;
        }

        section.coach-students .people-body tr.indiv-info .indiv-info-wrapper {
            display: none;
            padding: 15px;
            background: #d3d3d3;
            box-shadow: inset 0 2px 4px #888, inset 0 -2px 4px #888;
            cursor: auto;
        }

        section.coach-students .people-body tr.indiv-info td th {
            /*font-size: 1em;*/
            text-align: left;
        }

        section.coach-students .people-body tr.indiv-info td table {
            text-align: left;
        }

            section.coach-students .people-body tr.indiv-info td table thead tr {
                background: none;
                border: 0;
            }

                section.coach-students .people-body tr.indiv-info td table thead tr th:first-child {
                    width: 25%;
                }

                section.coach-students .people-body tr.indiv-info td table thead tr th:nth-child(2) {
                    width: 25%;
                }

            section.coach-students .people-body tr.indiv-info td table tbody {
                vertical-align: top;
            }

                section.coach-students .people-body tr.indiv-info td table tbody tr td {
                    padding-top: 10px;
                    vertical-align: top;
                    /*font-size: 1em;*/
                    text-align: left;
                }

                    section.coach-students .people-body tr.indiv-info td table tbody tr td:last-child {
                        padding: 10px 0;
                        line-height: 1.5em;
                        cursor: auto;
                    }

                    section.coach-students .people-body tr.indiv-info td table tbody tr td b {
                        font-weight: 700;
                        display: block;
                    }

                        section.coach-students .people-body tr.indiv-info td table tbody tr td b:not(:first-child) {
                            margin-top: 15px;
                        }

                    section.coach-students .people-body tr.indiv-info td table tbody tr td a {
                        position: relative;
                        display: block;
                        margin-top: 10px;
                        text-decoration: underline;
                    }

        section.coach-students .people-body tr.indiv-info div.activities-payoff-modal {
            position: absolute;
            z-index: 5;
            display: none;
            padding: 15px;
            margin-top: 10px;
            height: auto;
            width: 300%;
            overflow: scroll;
            background: #fff;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        }

            section.coach-students .people-body tr.indiv-info div.activities-payoff-modal h1 {
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #000;
                /*font-size: 1em;*/
            }

            section.coach-students .people-body tr.indiv-info div.activities-payoff-modal ul {
                list-style: disc;
                padding-left: 20px;
            }

                section.coach-students .people-body tr.indiv-info div.activities-payoff-modal ul li {
                    line-height: 1.5em;
                }

            section.coach-students .people-body tr.indiv-info div.activities-payoff-modal div.activities-modal-list {
                margin-bottom: 15px;
            }

    section.coach-students .people-body .class-list-period-email {
        height: 50px;
        background: #d3d3d3;
    }

        section.coach-students .people-body .class-list-period-email .period-selection {
            float: left;
            padding-left: 15px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

            section.coach-students .people-body .class-list-period-email .period-selection h1 {
                display: inline-block;
                /*font-size: 1.4em;*/
                font-weight: 600;
                color: #000;
            }

            section.coach-students .people-body .class-list-period-email .period-selection .period-wrapper {
                width: 200px;
                display: inline-block;
                margin-left: 15px;
                border: 1px solid #838383;
                padding: 10px;
                background: #fff;
            }

                section.coach-students .people-body .class-list-period-email .period-selection .period-wrapper select {
                    -webkit-appearance: none;
                    /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
                    -moz-appearance: none;
                    /*REMOVES DEFAULT FIREFOX STYLE*/
                    border: 0;
                    width: 100%;
                    font-family: inherit;
                    /*font-size: 1.4em;*/
                    cursor: pointer;
                    background: url("../img/caret.png") no-repeat center right;
                    background-size: 20px auto;
                    filter: contrast(4%);
                }

        section.coach-students .people-body .class-list-period-email .compose-email {
            float: right;
        }

    section.coach-students .people-body .email-header .recipient-row, section.coach-students .people-body .email-header .subject-row, section.coach-students .people-body .email-header .template-row {
        height: 50px;
        background: #707E95;
        border: 1px solid #838383;
        border-width: 1px 0 1px 0;
    }

        section.coach-students .people-body .email-header label, section.coach-students .people-body .email-header .template-row h1 {
            width: 80px;
            display: inline-block;
            padding-right: 10px;
            float: left;
            text-align: right;
            /*font-size: 1.4em;*/
            font-weight: 600;
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

    section.coach-students .people-body .email-header input {
        -webkit-appearance: none;
        /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
        -moz-appearance: none;
        /*REMOVES DEFAULT FIREFOX STYLE*/
        border: 0;
        display: inline-block;
        height: 50px;
        width: calc(100% - 80px);
        /*font-size: 1.4em;*/
        color: #000;
        border: 1px solid #838383;
        border-width: 1px 0 1px 0;
    }

    section.coach-students .people-body .email-header .email-template-wrapper {
        width: calc(100% - 80px);
        display: inline-block;
        padding: 0 20px;
        height: 100%;
        background: #fff;
    }

    section.coach-students .people-body .email-header select {
        -webkit-appearance: none;
        /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
        -moz-appearance: none;
        /*REMOVES DEFAULT FIREFOX STYLE*/
        border: 0;
        width: 100%;
        font-family: inherit;
        /*font-size: 1.4em;*/
        cursor: pointer;
        background: url("../img/caret.png") no-repeat center right;
        background-size: 20px auto;
        filter: contrast(4%);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    section.coach-students .people-body .email-body textarea {
        display: block;
        width: 100%;
        /*font-size: 1.4em;*/
        color: #000;
    }

    section.coach-students .people-body .send-email {
        padding: 10px;
        background: #d3d3d3;
        text-align: right;
    }

        section.coach-students .people-body .send-email button {
            padding: 5px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #a8a8a8;
            border: 0;
            font-family: inherit;
            /*font-size: 1.4em;*/
        }

@media screen and (max-width: 1080px) {
    .sidebar nav .hidden-menu {
        display: block;
    }

    .hide {
        transform: translateX(-250px);
    }

    main {
        width: 100vw;
    }

        main .topbar {
            width: calc(100vw - 70px);
            left: 70px;
        }

    .goals-section .selected-goal .goal-status .progress-status-wrapper {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */


.failureNotification {
    font-size: 1.2em;
    color: Red;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.link-button {
    border: 1px solid darkgray;
    margin: 10px;
    padding: 7px 15px;
    display: inline-block;
}


section {
    margin-bottom: 50px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}


